footer{ display: flex;
    font-size: 12px;
    width: 100%;
    
    background: #e9e9e9;
    height: 130px;

        .image-footer{margin:20px 28px 31px 25px;}


        .lista-footer{ margin: 37px 33px 36px 0px;
            ul{list-style: none;}}

        .copyright{width:520px; 
            h4, p{text-align: right; margin-right: 20px; }
            h4{ margin-top: 50px; color: tomato;
                }
        
        
        
        }
      



        




}